@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*{
    margin:0;
    padding:0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all linear;
    transition-duration: 0.5s;
    background: rgba(113, 99, 186, 255);
}

.sidebar:hover{
    width: 260px;
    transition: 0.5s;
}

.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0px;
    border-radius: 8px;
    transition: all ease-in-out;
    transition-duration: 0.5s;
}

.menu li:hover,
.active{
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title{
    color: rgba(113, 99, 186, 255)
}

.user-info{
    display: flex;
    align-items: center;
    gap:1rem;
}

.search-box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search-box input{
    background: transparent;
    padding: 10px;
}

.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all ease-out;
    transition-duration: 0.5s;
}

.search-box i:hover{
    transform: scale(1.2);
}

.card-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.main-title{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}

.income-card{
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease-in-out;
    transition-duration: 0.5s;
}

.income-card:hover{
    transform: translateY(-5px);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 12px;
    font-weight: 200;
}

.amount-value{
    font-size: 24px;
    
    font-weight: 600;
}

.icon{
    color: #fff;
    padding: 1rem;
    height:60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: rgb(0,128,0);
}

.card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.light-red{
    background: rgb(251, 233, 233);
}

.dark-red{
    background-color: red;
}

.light-green{
    background: rgb(235, 254, 235);
}

.dark-green{
    background: rgb(0,128,0);
}

.light-purple{
    background: rgb(254, 226, 254);
}

.dark-purple{
    background: purple;
}

.tabular-wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

th{
    padding: 15px;
    text-align: left;
}

tbody{
    background: #f2f2f2;
}

td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: #fff;
}

tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td{
    padding: 15px;
    color: #fff;
}

.add-button{
    color: green;
    background: none;
    cursor: pointer;
}

.remove-button{
    color: red;
    background: none;
    cursor: pointer;
}

.table-container button{
        outline: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin-left: 1rem;
        padding: 0.2rem 1rem;
        text-align: center;
        background-color: rgb(0,128,0);
        color: #fff;
        border-radius: 4px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
}

.popup{
    width: 60vw;
    height: 60vh;
    background-color: rgba(113, 99, 186, 255);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.001);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin: 50px 0px;
    padding: 10px 0px;
    background-color: green;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

 